### Step 1: Download data from open-bus GTFS archive

GET https://s3-eu-west-1.amazonaws.com/s3.obus.hasadna.org.il/2019-03-29.zip

In [54]:
import datetime
import urllib.request
import tempfile
import os
import ot_gtfs_utils

In [56]:
df = ot_gtfs_utils.get_or_create_daily_trips()

Return from pickle /tmp/2019-03-29/2019-03-29.pickle

In [58]:
df.shape

(3326, 36)

In [4]:
feed = gtfs_utils.get_partridge_feed_by_date(daily_gtfs, datetime.date.today())

The feed has in it all the (standard) files in the original GTFS zip, as [pandas](https://github.com/pandas-dev/pandas) DataFrames.

In [5]:
[x for x in dir(feed) if not x.startswith('_')]

['agency',
 'calendar',
 'calendar_dates',
 'fare_attributes',
 'fare_rules',
 'feed_info',
 'frequencies',
 'get',
 'routes',
 'shapes',
 'stop_times',
 'stops',
 'transfers',
 'trips']

In [6]:
trips_and_routes = feed.trips.merge(feed.routes, on="route_id")

In [7]:
train_trips_and_routes = trips_and_routes[trips_and_routes['agency_id']=='2']

In [8]:
train_trips_and_routes.shape

(408, 12)

In [9]:
train_stops_trip_routes = feed.stop_times.merge(train_trips_and_routes, on="trip_id")

In [10]:
train_stops_trip_routes.shape

(3326, 19)

In [11]:
train_stops_trip_routes.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,trip_headsign,direction_id,shape_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color
0,30124744_290319,13980.0,13980.0,37358,1,0,1,0,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN
1,30124744_290319,14400.0,14400.0,37362,2,0,0,9200,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN
2,30124744_290319,15120.0,15120.0,37366,3,0,0,27400,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN
3,30124744_290319,15720.0,15720.0,37368,4,0,0,41100,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN
4,30124744_290319,16320.0,16320.0,37372,5,0,0,52100,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN

In [12]:
latest_train_data = train_stops_trip_routes.merge(feed.calendar, on="service_id")

In [13]:
latest_train_data.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,...,route_color,sunday,monday,tuesday,wednesday,thursday,friday,saturday,start_date,end_date
0,30124744_290319,13980.0,13980.0,37358,1,0,1,0,21388,36091,...,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29
1,30124744_290319,14400.0,14400.0,37362,2,0,0,9200,21388,36091,...,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29
2,30124744_290319,15120.0,15120.0,37366,3,0,0,27400,21388,36091,...,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29
3,30124744_290319,15720.0,15720.0,37368,4,0,0,41100,21388,36091,...,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29
4,30124744_290319,16320.0,16320.0,37372,5,0,0,52100,21388,36091,...,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29

In [14]:
stop_ids = latest_train_data['stop_id'].unique()

In [15]:
train_stops = feed.stops[feed.stops.stop_id.isin(stop_ids)]

In [16]:
latest_train_data_with_stops = latest_train_data.merge(train_stops, on="stop_id")

In [17]:
latest_train_data_with_stops.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,...,start_date,end_date,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,zone_id
0,30124744_290319,13980.0,13980.0,37358,1,0,1,0,21388,36091,...,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
1,30124854_290319,3180.0,3180.0,37358,1,0,1,0,21386,36086,...,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
2,30124855_290319,6780.0,6780.0,37358,1,0,1,0,21386,36086,...,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
3,30124856_290319,10380.0,10380.0,37358,1,0,1,0,21386,36086,...,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
4,31552312_290319,19800.0,19800.0,37358,11,1,0,122600,21390,36047,...,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000

In [18]:
from IPython.display import display
import pandas as pd

In [19]:
pd.options.display.max_columns = None

In [20]:
latest_train_data_with_stops.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,trip_headsign,direction_id,shape_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,sunday,monday,tuesday,wednesday,thursday,friday,saturday,start_date,end_date,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,zone_id
0,30124744_290319,13980.0,13980.0,37358,1,0,1,0,21388,36091,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-42,2,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
1,30124854_290319,3180.0,3180.0,37358,1,0,1,0,21386,36086,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-41,2,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
2,30124855_290319,6780.0,6780.0,37358,1,0,1,0,21386,36086,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-41,2,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
3,30124856_290319,10380.0,10380.0,37358,1,0,1,0,21386,36086,NaN,1,81882,2,21,תל אביב מרכז-תל אביב יפו<->נהריה-נהריה,46021-2-41,2,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000
4,31552312_290319,19800.0,19800.0,37358,11,1,0,122600,21390,36047,NaN,0,81881,2,21,נהריה-נהריה<->תל אביב מרכז-תל אביב יפו,46021-1-55,2,NaN,0,0,0,0,0,1,0,2019-03-29,2019-03-29,17038,תל אביב מרכז,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.083715,34.798247,0,NaN,5000

In [21]:
latest_train_data_with_stops.to_pickle('daily_gtfs.pickle')

In [ ]:
latest_train_data_with_stops[]

In [42]:
train_stops.stop_id.unique()

array(['37290', '37292', '37294', '37296', '37298', '37300', '37302',
       '37304', '37306', '37308', '37310', '37312', '37314', '37316',
       '37318', '37320', '37322', '37324', '37326', '37328', '37330',
       '37332', '37334', '37336', '37338', '37340', '37342', '37344',
       '37346', '37348', '37352', '37354', '37356', '37358', '37360',
       '37362', '37364', '37366', '37368', '37370', '37372', '37374',
       '37376', '37378', '37380', '37382', '37384', '37386', '37388',
       '37392', '37394', '37396', '38643', '39260', '40581', '40582',
       '40583', '40584', '40640', '41291', '41292', '41293', '42416',
       '42417', '42419', '42507'], dtype=object)

In [46]:
train_stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,zone_id
23230,37290,17106,שדרות,רחוב:מסילת ברזל עיר: שער הנגב רציף: קומה: ...,31.515877,34.586059,0,NaN,1926
23231,37292,17104,תל אביב ההגנה,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.053978,34.784839,0,NaN,5000
23232,37294,17102,רשל''צ משה דיין,רחוב:מסילת ברזל עיר: ראשון לציון רציף: קומה...,31.987987,34.757392,0,NaN,8300
23233,37296,17100,הוד השרון,רחוב:מסילת ברזל עיר: הוד השרון רציף: קומה: ...,32.170213,34.901609,0,NaN,9700
23234,37298,17098,ראשונים,רחוב:מסילת ברזל עיר: ראשון לציון רציף: קומה...,31.948927,34.802622,0,NaN,8300
23235,37300,17096,יבנה מערב,רחוב:מסילת ברזל עיר: יבנה רציף: קומה: תחנ...,31.891676,34.731526,0,NaN,14067
23236,37302,17094,ראש העין-צפון,רחוב:מסילת ברזל עיר: ראש העין רציף: קומה: ...,32.120865,34.934527,0,NaN,2640
23237,37304,17092,כפר סבא,רחוב:מסילת ברזל עיר: הוד השרון רציף: קומה: ...,32.167369,34.917428,0,NaN,9700
23238,37306,17090,נת-בג,רחוב:מסילת ברזל עיר: נמל תעופה בן גוריון רציף...,32.000360,34.870481,0,NaN,1748
23239,37308,17088,להבים רהט,רחוב:מסילת ברזל עיר: להבים רציף: קומה: תח...,31.369907,34.798040,0,NaN,1271
23240,37310,17086,דימונה,רחוב:מסילת ברזל עיר: דימונה רציף: קומה: ת...,31.068597,35.011710,0,NaN,2200
23241,37312,17084,באר שבע מרכז,רחוב:מסילת ברזל עיר: באר שבע רציף: קומה: ...,31.242886,34.798546,0,NaN,9000
23242,37314,17082,באר שבע-צפון,רחוב:מסילת ברזל עיר: באר שבע רציף: קומה: ...,31.262089,34.809287,0,NaN,9000
23243,37316,17080,קרית גת,רחוב:מסילת ברזל עיר: קרית גת רציף: קומה: ...,31.603526,34.777955,0,NaN,2630
23244,37318,17078,ירושלים מלחה,רחוב:מסילת ברזל עיר: ירושלים רציף: קומה: ...,31.747801,35.188216,0,NaN,3000
23245,37320,17076,ירושלים גן חיות,רחוב:מסילת ברזל עיר: ירושלים רציף: קומה: ...,31.744791,35.178044,0,NaN,3000
23246,37322,17074,בית שמש,רחוב:מסילת ברזל עיר: בית שמש רציף: קומה: ...,31.757821,34.989515,0,NaN,2610
23247,37324,17072,אשקלון,רחוב:מסילת ברזל עיר: אשקלון רציף: קומה: ת...,31.676856,34.604447,0,NaN,7100
23248,37326,17070,אשדוד עד הלום,רחוב:מסילת ברזל עיר: אשדוד רציף: קומה: תח...,31.774061,34.666059,0,NaN,70
23249,37328,17068,יבנה מזרח,רחוב:מסילת ברזל עיר: יבנה רציף: קומה: תחנ...,31.861702,34.744295,0,NaN,14066
23250,37330,17066,באר יעקב,רחוב:מסילת ברזל עיר: באר יעקב רציף: קומה: ...,31.932781,34.828591,0,NaN,2530
23251,37332,17064,רחובות,רחוב:מסילת ברזל עיר: רחובות רציף: קומה: ת...,31.908691,34.806351,0,NaN,8400
23252,37334,17062,לוד-גני אביב,רחוב:מסילת ברזל עיר: עמק לוד רציף: קומה: ...,31.966977,34.878790,0,NaN,1893
23253,37336,17060,רמלה,רחוב:מסילת ברזל עיר: רמלה רציף: קומה: תחנ...,31.928809,34.877304,0,NaN,8500
23254,37338,17058,לוד,רחוב:מסילת ברזל עיר: לוד רציף: קומה: תחנת...,31.945234,34.875081,0,NaN,7000
23255,37340,17056,כפר חבד,רחוב:מסילת ברזל עיר: כפר חב''ד רציף: קומה: ...,31.993188,34.853030,0,NaN,696
23256,37342,17054,בת ים קוממיות,רחוב:מסילת ברזל עיר: חולון רציף: קומה: תח...,32.000989,34.759437,0,NaN,6600
23257,37344,17052,בת ים יוספטל,רחוב:מסילת ברזל עיר: בת ים רציף: קומה: תח...,32.014588,34.762082,0,NaN,6200
23258,37346,17050,חולון וולפסון,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.035462,34.759782,0,NaN,5000
23259,37348,17048,צומת חולון,רחוב:מסילת ברזל עיר: תל אביב יפו רציף: קומה...,32.037036,34.776461,0,NaN,5000
...,...,...,...,...,...,...,...,...,...
23266,37364,17032,בית יהושע,רחוב:מסילת ברזל עיר: חוף השרון רציף: קומה: ...,32.262346,34.860112,0,NaN,1905
23267,37366,17030,נתניה,רחוב:מסילת ברזל עיר: נתניה רציף: קומה: תח...,32.319915,34.869257,0,NaN,7400
23268,37368,17028,חדרה מערב,רחוב:מסילת ברזל עיר: חדרה רציף: קומה: תחנ...,32.438199,34.899321,0,NaN,6500
23269,37370,17026,קיסריה פרדס חנה,רחוב:מסילת ברזל עיר: פרדס חנה כרכור רציף: ק...,32.485187,34.954099,0,NaN,7800
23270,37372,17024,בנימינה,רחוב:מסילת ברזל עיר: בנימינה גבעת עדה רציף: ...,32.514386,34.949573,0,NaN,9800
23271,37374,17022,עתלית,רחוב:מסילת ברזל עיר: עתלית רציף: קומה: תח...,32.692924,34.940314,0,NaN,53
23272,37376,17020,חוף הכרמל,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.793600,34.957404,0,NaN,4000
23273,37378,17018,בת גלים,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.830498,34.981888,0,NaN,4000
23274,37380,17016,חיפה מרכז,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.822306,34.997177,0,NaN,4000
23275,37382,17014,נהריה,רחוב:מסילת ברזל עיר: נהריה רציף: קומה: תח...,33.005075,35.098710,0,NaN,9100
23276,37384,17012,עכו,רחוב:מסילת ברזל עיר: עכו רציף: קומה: תחנת...,32.928339,35.082984,0,NaN,7600
23277,37386,17010,חוצות מפרץ,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.809527,35.054514,0,NaN,4000
23278,37388,17008,מרכזית המפרץ - קו החוף,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.793921,35.037079,0,NaN,4000
23279,37392,17004,קרית חיים,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.824918,35.064290,0,NaN,4000
23280,37394,17002,מודיעין מרכז,רחוב:מסילת ברזל עיר: מודיעין מכבים רעות רציף:...,31.901238,35.005712,0,NaN,1200
23281,37396,17000,פאתי מודיעין,רחוב:מסילת ברזל עיר: מודיעין מכבים רעות רציף:...,31.893133,34.960682,0,NaN,1200
23915,38643,17108,נתיבות,רחוב:מסילת ברזל עיר: נתיבות רציף: קומה: ת...,31.410871,34.571423,0,NaN,246
24366,39260,17109,אופקים,רחוב:מסילת ברזל עיר: אופקים רציף: קומה: ת...,31.322628,34.634078,0,NaN,31
25371,40581,17113,כפר ברוך,רחוב:מסילת ברזל עיר: עמק יזרעאל רציף: קומה:...,32.647554,35.207967,0,NaN,1840
25372,40582,17112,עפולה,רחוב:מסילת ברזל עיר: עמק יזרעאל רציף: קומה:...,32.622003,35.294721,0,NaN,1840
25373,40583,17111,בית שאן,רחוב:מסילת ברזל עיר: בית שאן רציף: קומה: ...,32.514683,35.488106,0,NaN,9200
25374,40584,17110,כפר יהושע,רחוב:מסילת ברזל עיר: עמק יזרעאל רציף: קומה:...,32.681069,35.124624,0,NaN,1840
25400,40640,17114,נתניה קריית ספיר,רחוב:מסילת ברזל עיר: נתניה רציף: קומה: תח...,32.278832,34.865175,0,NaN,7400
25867,41291,17116,אחיהוד,רחוב:מסילת ברזל עיר: משגב רציף: קומה: תחנ...,32.911590,35.174068,0,NaN,1841
25868,41292,17115,כרמיאל,רחוב:מסילת ברזל עיר: כרמיאל רציף: קומה: ת...,32.924764,35.294801,0,NaN,1139
25869,41293,17117,קרית מוצקין,רחוב:מסילת ברזל עיר: קרית מוצקין רציף: קומה...,32.833133,35.070030,0,NaN,8200
26569,42416,17122,רעננה דרום,רחוב:מסילת ברזל עיר: רעננה רציף: קומה: תח...,32.172568,34.886294,0,NaN,8700
26570,42417,17121,רעננה מערב,רחוב:מסילת ברזל עיר: הרצליה רציף: קומה: ת...,32.180006,34.850737,0,NaN,6400
26571,42419,17119,קרית מלאכי,רחוב:מסילת ברזל עיר: יואב רציף: קומה: תחנ...,31.747335,34.822479,0,NaN,1913
26636,42507,17123,מרכזית המפרץ,רחוב:מסילת ברזל עיר: חיפה רציף: קומה: תחנ...,32.792942,35.032964,0,NaN,4000

Stops do not contain a GTFS id  they can identified using lat long data

In [63]:
train_stops[['stop_name', 'stop_code']].sort_values('stop_name')

                    stop_name stop_code
24366                  אופקים     17109
25867                  אחיהוד     17116
23248           אשדוד עד הלום     17070
23247                  אשקלון     17072
23250                באר יעקב     17066
23241            באר שבע מרכז     17084
23242            באר שבע-צפון     17082
23266               בית יהושע     17032
25373                 בית שאן     17111
23246                 בית שמש     17074
23262                 בני ברק     17040
23270                 בנימינה     17024
23273                 בת גלים     17018
23257            בת ים יוספטל     17052
23256           בת ים קוממיות     17054
23240                  דימונה     17086
23233               הוד השרון     17100
23265                  הרצליה     17034
23268               חדרה מערב     17028
23258           חולון וולפסון     17050
23272               חוף הכרמל     17020
23277              חוצות מפרץ     17010
23274               חיפה מרכז     17016
23249               יבנה מזרח     17068
23235               יבנה מערב     17096
23245         ירושלים גן חיות     17076
23244            ירושלים מלחה     17078
25371                כפר ברוך     17113
23255                 כפר חבד     17056
25374               כפר יהושע     17110
23237                 כפר סבא     17092
25868                  כרמיאל     17115
23239               להבים רהט     17088
23254                     לוד     17058
23252            לוד-גני אביב     17062
23280            מודיעין מרכז     17002
26636            מרכזית המפרץ     17123
23278  מרכזית המפרץ - קו החוף     17008
23275                   נהריה     17014
23238                   נת-בג     17090
23915                  נתיבות     17108
23267                   נתניה     17030
25400        נתניה קריית ספיר     17114
23260                   סגולה     17044
23276                     עכו     17012
25372                   עפולה     17112
23271                   עתלית     17022
23281            פאתי מודיעין     17000
23259              צומת חולון     17048
23269         קיסריה פרדס חנה     17026
23261               קרית אריה     17042
23243                 קרית גת     17080
23279               קרית חיים     17004
25869             קרית מוצקין     17117
26571              קרית מלאכי     17119
23236           ראש העין-צפון     17094
23234                 ראשונים     17098
23251                  רחובות     17064
23253                    רמלה     17060
26569              רעננה דרום     17122
26570              רעננה מערב     17121
23232         רשל''צ משה דיין     17102
23230                   שדרות     17106
23264           תא אוניברסיטה     17036
23231           תל אביב ההגנה     17104
23263            תל אביב מרכז     17038

From Rosh haayin to Tel Aviv Univ. today

In [69]:
 d = latest_train_data_with_stops

In [78]:
stops_departure = d[d.stop_code == '17094']

In [77]:
stops_arrival = d[d.stop_code == '17036']

In [91]:
merge_stops = stops_departure.merge(stops_arrival, on="trip_id")

In [102]:
daily_stops_from_to = merge_stops[merge_stops.stop_sequence_y > merge_stops.stop_sequence_x]

All trips with Rosh Haayin as departure and TA Univ. as arrival done today

In [54]:
pd.options.display.max_rows = 100

In [106]:
now = datetime.datetime.now()

In [111]:
now_secs_from_midnight = 3600 * now.hour + 60 * now.minute + now.second

In [112]:
now_secs_from_midnight

58639

In [ ]:
delta_stops_from_to = daily_stops_from_to.arrival_time_x > now_secs_from_midnight - 3000